<div class="bg-dark d-flex fex-cloumn flex-md-row align-items-center p-3 px-md mb-3 border-bottom shadow-sm">
    <h2 class="my-0 mr-md-auto text-white   " style="text-align: center;">
   Electro Mobile Mart
    </h2>
    <!-- <div id="dell-global-mbox" class="at-element-marker"></div> -->
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-primary" routerLink="/productmanage">Product</a>&nbsp;&nbsp;
        <a class="btn btn-outline-danger" routerLink="/product">ProductAdd</a>&nbsp;&nbsp;
        <a class="btn btn-outline-primary" routerLink="/logindashboard">User</a>&nbsp;&nbsp; 
        <a class="btn btn-outline-danger" routerLink="/">Logout</a>&nbsp;&nbsp; 
    </nav>
</div>