<div class="container">
    <h1 style="text-align: center;" class="alert alert-primary">Add Cart</h1>
    <div class="table table-border alert alert-muted text-black">
    <form>

        <th style>Vivo Mobile</th>
        <tr>
        <td colspan="3"></td>
        <td colspan="3"></td>
        <td colspan="3"></td>
        <td colspan="3"></td>
        </tr>
        <tr>
            <th colspan="3"><img src="../../assets/vivo X50.jpg"></th>
            <th colspan="3"><img src="../../assets/vivo-v17.jpg"></th>
            <th colspan="3"><img src="../../assets/vivoY15.jpg"></th>
            <th colspan="3"><img src="../../assets/vivoV11.png"></th>
        </tr>


    </form>