<div class="container">
    <div class="bg-dark d-flex fex-cloumn flex-md-row align-items-center p-3 px-md mb-3 border-bottom shadow-sm">
        <h2 class="my-0 mr-md-auto text-white   " style="text-align: center;">
       Electro Mobile Mart
        </h2>
        <!-- <div id="dell-global-mbox" class="at-element-marker"></div> -->
        <nav class="my-2 my-md-0 mr-md-3">
           
             <a class="btn btn-outline-danger" routerLink="/login" >Login</a> &nbsp;&nbsp;
            <a class="btn btn-outline-danger" routerLink="/register" >Signup</a>&nbsp;&nbsp;
            <a class="btn btn-outline-primary" routerLink="/admin">Admin</a>
        </nav>
    </div>
 
       
        
        <table border="0" width="100%" bgcolor="white" height="50%">
        <tr>
        <th colspan="3"><img src="../assets/vivo X50.jpg" width="90%"/></th>
        <th colspan="3"><img src="../assets/vivo-v17.jpg" width="80%"/></th>
        <th colspan="3"><img src="../assets/vivoY15.jpg" width="90%"/></th>
        <th colspan="3"><img src="../assets/vivoV11.png" width="90%"/></th>
        </tr>

        
        <tr>
        <th colspan="3" style="text-align: center;">Vivo X50</th>
        <th colspan="3" style="text-align: center;">vivo-v17</th>
        <th colspan="3" style="text-align: center;">vivoY15</th>
        <th colspan="3" style="text-align: center;">vivoV11</th>
        </tr>
        <br><br>
        <tr>
           <td><button colspan="3" class="btn btn-outline-success" >Cart</button></td>
           <td><button colspan="3" style="text-align: center;" class="btn btn-outline-success" >Cart</button></td>
           <td><button colspan="3" style="text-align: center;" class="btn btn-outline-success" >Cart</button></td>
           <td><button colspan="3" style="text-align: center;" class="btn btn-outline-success" >Cart</button></td>
           
            </tr>
        </table>
        <br><br><br>
        
        <table border="0" width="100%" bgcolor="white" height="50%">
        <tr>
        <td colspan="3"><img src="../assets/MiA2lite.jpg" width="100%"/></td> 
        <th colspan="3"><img src="../assets/MiA3.jpg" width="90%"/></th>
        <th colspan="3"><img src="../assets/MInotepro.jpg" width="80%"/></th>
        <th colspan="3"><img src="../assets/note6pro.jpg" width="90%"/></th>
        </tr>

        <tr>
            <th colspan="3" style="text-align: center;">Mi A2 lite</th>
            <th colspan="3" style="text-align: center;">Mi A3</th>
            <th colspan="3" style="text-align: center;">Mi Notepro</th>
            <th colspan="3" style="text-align: center;">Mi note6pro</th>
        </tr>
        <br><br>
        <tr>
            <td><button colspan="3" style="text-align: center;" class="btn btn-outline-success" >Cart</button></td>
            <td><button colspan="3" style="text-align: center;" class="btn btn-outline-success" >Cart</button></td>
            <td><button colspan="3" style="text-align: center;" class="btn btn-outline-success" >Cart</button></td>
            <td><button colspan="3" style="text-align: center;" class="btn btn-outline-success" >Cart</button></td>
          
        </tr>
        </table>
        <br><br><br>
       
        </div>