<div class="jumbotron">
    <h4 style="text-align: center;color:blue;">Hey User, Enjoy Our Services And Products....!!!!</h4>
    <form formGroup = "form" >
        <div class="control-group normal_text "><h3 style="color:navy;">Login Here</h3></div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span style="color:darkslategray;">*</span>
                    <input type="text" autocomplete="off" name="username" id="userid" placeholder="Username" required/>
                </div>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span style="color:antiquewhite;">*</span>
                    <input type="password" autocomplete="off" name="userpass" id="userpassid" placeholder="Password"   required/>
                </div>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="form-actions">
            <span class="pull-center">
                <a class="btn btn-outline-success  " routerLink="/login" >Login</a>
            </span>
            <!-- <h6>Not Signup Yet</h6> -->
            &nbsp;&nbsp;
              
            <a class="btn btn-outline-danger  " routerLink="/" >Signup</a>&nbsp;&nbsp;&nbsp;&nbsp;
                 
            
        </div>
    </form>
</div>